.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1.5em;
    background: #FF8000;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em; 
}

.center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

