@charset "UTF-8";



/* MARRON: #0c0c0c  -  rgba( 53, 48, 45, 1 ) */
/* LIMA: #0081b2 */


/* ROJO LLOSETA: #0081b2 */
/* AZUL LLOSETA: #0081b2 - rgba( 0, 127, 178, 1 ) */
/* NEGRO LLOSETA: #0c0c0c */




/*
font-family: 'Raleway', sans-serif;
font-weight: 700;
line-height: normal;
*/