
#menu {
	display:none;
}

@media screen and (max-width: 40em) {

	
	.js .slicknav_menu {
		display:block;
	}
}


/*************************************************************************************************************/
/*************************************************************************************************************/
/*************************************************************************************************************/
/*************************************************************************************************************/
/*************************************************************************************************************/
/*************************************************************************************************************/
/*************************************************************************************************************/
/*************************************************************************************************************/
/*************************************************************************************************************/

.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0;
    background-color: #0c0c0c;
}

.slicknav_menu .slicknav_menutxt {
    color: #0081b2;
}

.slicknav_menu {
    background: transparent;
}