@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 100px;
font-style: normal;
margin-left: 20px;
}.flaticon-balloons2:before {
	content: "\e000";
}
.flaticon-books2:before {
	content: "\e001";
}
.flaticon-offer1:before {
	content: "\e002";
}
.flaticon-party14:before {
	content: "\e003";
}
.flaticon-question3:before {
	content: "\e004";
}
.flaticon-thinking3:before {
	content: "\e005";
}
